/node_modules
/dist
/build
/coverage
/logs
/temp
/uploads
/public
/config

/.github/workflows/
.env
.github/workflows/deploy.yaml
/.github
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
